@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 150px;
}
/* Remove scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* Nav */
nav {
  box-shadow: 1px -15px 59px -2px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 1px -15px 59px -2px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 1px -15px 59px -2px rgba(0, 0, 0, 0.21);
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  /* background-color: black; */
  color: white;
  align-items: center;
  justify-content: space-around;
}
nav a {
  width: 100%;
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
nav a i {
  font-size: 15pt;
}

.active {
  background-color: white;
  color: black;
}

/* Sign Up */
.sign-in-container {
  height: 80vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign-in-container h1 {
  font-size: 25pt;
  margin-top: 30px;
}
.sign-in-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 13pt;
}
.sign-in-container form input {
  font-family: inherit;
  font-size: 15pt;
}
.sign-in-container a {
  color: black;
}
.reset {
  align-items: flex-start;
  text-align: left;
  gap: 50px;
}
.reset h1 {
  margin-bottom: 20px;
}
.reset a {
  display: flex;
  align-items: center;

  gap: 10px;
  font-size: 15pt;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.reset p {
  font-size: 15pt;
}

.resetOutput {
  color: rgb(36, 214, 0);
}

.auth-error {
  color: red;
}

/* Universal component styling */
.btnComponent {
  font-family: inherit;
  font-size: 15pt;
  border: none;
  background-color: black;
  color: white;
  padding: 8px;
  min-width: 150px;
  margin-top: 20px;
}

input {
  font-family: inherit;
  padding: 5px 0px;
  border: none;
  border-bottom: 2px solid black !important;
  border-image: linear-gradient(0.25turn, rgb(0, 0, 0), rgb(0, 0, 0));
  border-image-slice: 0 0 1 0;
  font-size: 12pt;
  font-weight: 400;
  outline: none;
}

hr {
  border: 0.5px solid rgb(0, 0, 0);
}

/* Add section */
.create-new-section {
  width: 90%;
  margin: auto;
}
.create-new-section h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 25pt;
}
.create-new-section .form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.create-new-section .form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create-new-section .form div label {
  font-size: 15pt;
  width: 80%;
}

.create-new-section div input::placeholder {
  color: rgba(0, 0, 0, 0.452);
}

.add-section-btn {
  border: none;
  font-family: inherit;
  font-weight: 800;
  font-size: 15pt;
  color: white;
  padding: 10px;
  background-color: black;
  margin-bottom: 50px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: italic;
}
.fa-circle-info {
  color: rgb(19, 152, 230);
  font-size: 15pt;
}

.fa-circle-question {
  color: black;
  position: relative;
}
.fa-circle-question::after {
  content: attr(content);
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
  color: white;
  font-weight: 400;
  background-color: black;
  padding: 10px;
  width: 150px;
  height: auto;
  display: none;
  transition: 0.1s ease-in-out;
}
.fa-circle-question:hover::after {
  display: flex;
}
.section-summary {
  gap: 5px;
  border: 2px solid black;
  padding: 30px;
}
.itemList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.itemList li {
  font-size: 13pt;
  list-style: inside;
}
.deleteItem {
  font-family: inherit;
  border: none;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(197, 1, 27);
  padding: 5px;
  color: black;
  margin-left: 10px;
}
.addBtn {
  padding: 10px;
  width: 100px;
  font-family: inherit;
  border: none;
  background-color: black;
  color: white;
}

/* Storage overview (StoredItems) */
.user-sections {
  width: 90%;
  margin: auto;
}
.user-sections h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 800;
}
.all-sections {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section h2 {
  font-weight: 600;
  font-size: 15pt;
  margin-bottom: 10px;
}
.section div:not(.buttons) {
  border: 2px solid black;
}
.section div ul {
  width: 100%;
  text-align: center;
  columns: 3;
  column-fill: balance;
  list-style: none;
  padding: 15px 0px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.section-btn {
  border: none;
  margin-top: 5px;
  background-color: black;
  color: white;
  font-size: 12pt;
  font-family: inherit;
  font-weight: 400;
  padding: 5px 10px;
}
.delete {
  background-color: rgb(197, 1, 27);
}
.no-sections {
  text-align: center;
  font-size: 15pt;
  font-weight: 400;
}
.delete-confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px 50px;
  background-color: black;
  color: white;
}
.delete-confirm h2 {
  text-align: center;
}
.delete-confirm div {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
.delete-confirm div button {
  border: none;
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 15pt;
  font-weight: 700;
  padding: 15px 40px;
}
